@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat);
  --color-sitecolor: #AB4A1F;
  --color-secondary: #52425C;
}

html {
  height: 100%;
  overflow-x: hidden;
}

input {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main_wrapper {
  flex: 1;
}

body {
  font-family: var(--font-montserrat);
}

.custom_container {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}


.page_loader {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}

.page_loader:before,
.page_loader:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}

.page_loader:before {
  border-top-color: #fff;
}

.page_loader:after {
  border-top-color: #CE9D61;
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes spinner-fade {

  25%,
  75% {
    opacity: 0.1
  }

  50% {
    opacity: 1
  }
}